    
<div class="container">
    <div class="details">
      <h1>Are You A Music Lover ?</h1>
      <h3>Are you looking for the best music </h3>
      <p class="subheading">Then this is for you........</p>
      <br><br>
    </div>
<div class="row">
    <div class="col-12 col-md-4 col-lg-4 mb-3" *ngFor="let a of tracks">
      <div class="card">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img src="{{a.image[3]['#text']}}" class="card-img" height="200" />
            </div>
            <div class="col-sm-7 text-left">
             <div class="card-body">
                <h5 class="text-card-head">Name : <Strong>{{a.name}}</Strong></h5>
                <p class="text-card-text my-2">
                 <span class="text-card-title">Listeners : </span><span class="listeners-color">{{a.listeners}}</span>
                </p>
               
              <a class="stretched-link btn-color btn-sm card-button-text btn-card" href="{{a.url}}">To Get More Info
                <i class="fas fa-angle-double-right"></i>
              </a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
